{% from "partials/layout/_macros.html" import section_header %}
<div data-tab-content="blacklist" class="hidden">

    <div class="flex flex-wrap items-center gap-2 mb-4">
        <div id="chipTipeBlacklist" class="flex gap-1.5">
            <button type="button" class="chip chip-active" data-tipe="" data-on-click="filterBlacklist" data-arg="$el">Semua</button>
            <button type="button" class="chip" data-tipe="PERSONEL" data-on-click="filterBlacklist" data-arg="$el">Personel</button>
            <button type="button" class="chip" data-tipe="KENDARAAN" data-on-click="filterBlacklist" data-arg="$el">Kendaraan</button>
        </div>
        <div class="flex-1"></div>
        <div class="relative">
            <input type="text" id="cariBlacklist" placeholder="Cari kode / NIK / plat / no. surat" class="input-field pl-9 w-72"
                   data-on-input="cariBlacklistTunda">
            <i class="fa-solid fa-magnifying-glass absolute left-3 top-1/2 -translate-y-1/2 text-slate-400 text-sm"></i>
        </div>
        {% if boleh_blacklist is not defined or boleh_blacklist %}
        <button type="button" data-on-click="bukaTambahBlacklist" class="btn-danger">
            <i class="fa-solid fa-plus mr-1"></i> Tambah Blacklist
        </button>
        {% endif %}
    </div>

    <div class="section-box">
        {{ section_header('riwayat-blacklist', 'Riwayat Blacklist') }}
        <div id="body-riwayat-blacklist" class="section-body">
            <table class="w-full text-left text-sm">
                <thead class="table-header-row">
                    <tr>
                        <th class="table-cell">Tanggal</th><th class="table-cell">Entitas</th><th class="table-cell">Target</th>
                        <th class="table-cell">No. Surat</th><th class="table-cell">Alasan</th><th class="table-cell">Oleh</th>
                        <th class="table-cell text-right">Surat</th>
                    </tr>
                </thead>
                <tbody data-per-halaman="20" id="tabelBlacklist" data-boleh-tambah="{{ 1 if boleh_blacklist else 0 }}" class="divide-y divide-slate-100"></tbody>
            </table>
        </div>
    </div>

    <div class="note-warning">
        <i class="fa-solid fa-triangle-exclamation mr-1"></i>
        Blacklist bersifat <b>PERMANEN</b>.
    </div>
</div>
