{% extends "base.html" %}
{% block title %}Weighbridge{% endblock %}

{% block tab_content %}
{% include "partials/security_tab.html" %}
{% include "partials/timbangan_tab.html" %}
{% include "partials/sortasi_tab.html" %}
{% include "partials/lab_tab.html" %}
{% endblock %}

{% block modals %}
{% include "partials/security_modals.html" %}
{% endblock %}

{% block extra_scripts %}
<script>const WAJIB_SCAN_WAJAH = {{ 'true' if wajib_scan_wajah else 'false' }};</script>
<script src="{{ url_for('static', filename='vendor/html5-qrcode/html5-qrcode.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/security.js') }}"></script>
<script src="{{ url_for('static', filename='js/kendaraan.js') }}"></script>
<script src="{{ url_for('static', filename='js/timbangan.js') }}"></script>
<script src="{{ url_for('static', filename='js/sortasi.js') }}"></script>
<script src="{{ url_for('static', filename='js/lab.js') }}"></script>
{% endblock %}